.jumbotron {
    background-image: url("../img/pizza.png");
}

.jumbotron > h1 {
    text-align: center;
    background-color: white;
    margin: 0 -9999rem;
    /*returnreturn - research this, probably misunderstanding what it does*/
    /*also, not responsive*/
    opacity: 75%;
}

.toppings-margins {
    padding-top: 5px;
    padding-bottom: 5px;
}