/* @import url('https://fonts.googleapis.com/'); */
/* https://fonts.google.com/ */

:root {
    --white: #FFFFFF;
    --black: #000000;

}

* {
    margin: 0;
    padding: 0;
    /*border: solid 1px red;*/
}

.jumbotron {
    background-image: url("../img/pizza.png");
}

.jumbotron > h1 {
    text-align: center;
    background-color: white;
    margin: 0 -9999rem;
    /*returnreturn - research this, probably misunderstanding what it does*/
    /*also, not responsive*/
    opacity: 75%;
}

.card > .card {
    /*margin: 15px;*/
}

.card-form-margins {
    /*margin: 15px;*/
}

.toppings-margins {
    /*margin: 5px;*/
    /*padding: 5px 0;*/
    padding-top: 5px;
    padding-bottom: 5px;

}

.cheese-margin {
    /*margin: 15px;*/
}

.toppings-width {
    /*width: 100%*/
}


li > .list-group-item {
    /*width: 100%;*/
}


* {
    /*padding: 0;*/
    /*margin: 0;*/
    /*border: 1px solid var(--black);*/
}

.centered {
    /*position: fixed;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*!* bring your own prefixes *!*/
    /*transform: translate(-50%, -50%);*/
}

.jumbotron {
    /*background-image: url("../img/pizza.png");*/

}

.jumbotron > h1 {
    /*text-align: center;*/
    /*background-color: white;*/
    /*margin: 0 -9999rem;*/
    /*!* returnreturn - research this, probably misunderstanding what it does *!*/
    /*!* also, not responsive *!*/
    /*opacity: 75%;*/
}


/*!* extra small and down - phones *!*/
/*@media only screen and (max-width: 600px) {*/

/*}*/

/*!* small and up - large phones and tablets *!*/
/*@media only screen and (min-width: 600px) {*/

/*}*/

/*!* medium and up *!*/
/*@media only screen and (min-width: 768px) {*/

/*}*/

/*!* large and up *!*/
/*@media only screen and (min-width: 992px) {*/

/*}*/