* {
    box-sizing: border-box;
    /*border: 1px solid black;*/
}

body {
    margin: 0;
    padding: 0;
    background: lightskyblue;
    font-family: Chalkboard, sans-serif;
}

h1 {
    text-align: center;
}

h2, h3 {
    padding: 0;
    margin: 0;
}

.container {
    margin: 0 auto;
    width: 80%;
}

.green-box {
    background: green;
    height: 1em;
    width: 2em;
}

.border {
    border: 2px solid black;
}

.card {
    width: 400px;
    height: 800px;
    background: white;
    padding: 1em;
    margin: 0 auto;
    /* enter needed declarations here */
    /*padding: 20px;*/
    /*gap: .5em;*/
    /*display: flex;*/   /* review */
    /*flex-direction: column;*/   /* review */
    /*justify-content: space-evenly;*/   /* review */
}

section {
    /* enter needed declarations here */
    display: flex; /* review */
    /* justify-content: space-between; */ /* review */
    flex-direction: row;
    margin-top: 15px;
    margin-bottom: 15px;
    /*margin: 15px 0;*/ /* review */
    /*flex-wrap: wrap;*/ /* review */
    /*align-items: space-evenly;*/ /* review */
}

section:nth-of-type(1) {
    height: 3em;
    background: lightgreen;
    /* enter needed declarations here */
    justify-content: space-between;
    align-items: center;
}

section:nth-of-type(1) div:last-child {
    /* enter needed declarations here */
    align-self: start; /* review */
}

.purple-box {
    background: fuchsia;
    width: 3em;
    height: 1em;
}

.purple-box:nth-of-type(1) {
    /* enter needed declarations here */
    flex: 2;
    /*flex-grow: 2;*/ /* review */
}

.purple-box:nth-of-type(2) {
    /* enter needed declarations here */
    flex: 1;
    /*flex-grow: 1;*/ /* review */
}

.blue-box {
    width: 100%;
    background: blue;
    height: 10em;
}

section:nth-of-type(3) {
    /* enter needed declarations here */
    align-items: center;
    /*justify-content: end;*/ /* review */
    /*background-color: coral;*/
}

section:nth-of-type(3) h3 {
    /* enter needed declarations here */
    flex: 1; /* flex-grow */
    /*margin-right: auto;*/ /* review */
    /*background-color: red*/

}

.orange-circle {
    background: orange;
    width: 2em;
    height: 2em;
    border-radius: 1em;
    margin: .5em;
}

.large-brown-box {
    height: 5em;
    width: 5em;
    background: brown;
    /* enter needed declarations here */
    /*justify-content: space-evenly;*/
    /*justify-content: stretch;*/
    flex-grow: 1;
}
/* https://developer.mozilla.org/en-US/docs/Web/CSS/flex-grow */
/* https://www.w3schools.com/CSSref/css3_pr_flex-grow.asp */

.large-brown-box:nth-of-type(2) {
    margin: 0 1em;
}

section:nth-of-type(5) {
    /* enter needed declarations here */
    justify-content: space-evenly; /* review */
}

.yellow-box {
    background: yellow;
    width: 2em;
    height: 2em;
}

section:nth-of-type(6) {
    background: coral;
    height: 14em;
    /* enter needed declarations here */
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.grey-box {
    background: grey;
    width: 3em;
    height: 3em;
}

.grey-box:nth-of-type(odd) {
    height: 4em;
}