:root {
    --white: #FFFFFF;
    --black: #000000;

    --skip-button: #ccffff; /* light blue */
    --skip-border: #c8cece; /* light gray */
    --link-bg-small: #cccccc; /* gray */

}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

* {
    /*margin: 0;*/
    /*padding: 0;*/

    /*border: 1px solid var(--black);*/
}

body {
    box-sizing: border-box;
    margin: 15px;
}

.alert-info {
    background-color: var(--skip-button);
    font-size: .8rem;
    padding: 10px;
    border: 2px solid var(--skip-border);

    display: flex;
    justify-content: center;
}

.alert-info a {
    color: var(--black);
    text-decoration: none;
}

h1 {
    color: var(--black);
    font-size: 2rem;

    display: flex;
    justify-content: center;
}

nav {
    width: 100%;

    display: flex;
    justify-content: center;
}

.nav-links {
    min-width: 100%;
    padding: 10px;
    margin: 10px;
}

.nav-links li {
    background-color: var(--link-bg-small);
    font-size: .8rem;
    line-height: 40px;
    list-style: none;
    margin-bottom: 10px;

    display: flex;
    justify-content: center;
}

.header-img img {
    margin: auto;
    /*width: 339px;*/
    /*height: 224px;*/
    max-width: 100%;
    padding-bottom: 15px;
}

i {
    color: black;
    font-size: 1.5rem;
}

p {
    margin-bottom: 25px;
}

footer {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#social-media-links {
    align-self: center;
    padding-bottom: 10px; /* align with left side of footer */

}

@media screen and (min-width: 768px) {
    .hidden-on-desktop {
        display: none;
    }
}