:root {
    --white: #FFFFFF;
    --black: #000000;

    --skip-button: #ccffff; /* light blue */
    --skip-border: #c8cece; /* light gray */
    --link-bg-small: #cccccc; /* gray */

}

* {
    /*box-sizing: border-box;*/
    /*margin: 5px;*/
    /*padding: 0;*/

    border: 1px solid var(--black);
}

body {
    box-sizing: border-box;
    margin: 15px;
    padding: 0;
}

.alert-info {
    background-color: var(--skip-button);
    font-size: .8rem;
    padding: 10px;
    border: 2px solid var(--skip-border);

    display: flex;
    justify-content: center;
}

.alert-info a {
    color: var(--black);
    text-decoration: none;
}

h1 {
    color: var(--black);
    font-size: 2rem;

    display: flex;
    justify-content: center;
}

nav {
    width: 100%

    display: flex;
    justify-content: center;
}
.nav-links {
    width: 100%;
    padding: 10px;
    margin: 10px;
}

.nav-links li {
    background-color: var(--link-bg-small);
    font-size: .8rem;
    height: 15px;
    list-style: none;
    margin-bottom: 5px;

    display: flex;
    justify-content: center;
}

.header-img img {
    margin: auto;
    width: 339px;
    height: 224px;

    display: flex;
}


#social-media-links img {
    width: 20px;
    height: 20px;
}

footer {
    width: 100%;

    display: flex;
    justify-content: space-between;
}

#social-media-links {
    align-self: center;
}

/*!* small and up - large phones and tablets *!*/
/*@media only screen and (min-width: 600px) {*/

/*}*/

/* medium and up */
@media screen and (min-width: 768px) {

    .hidden-on-desktop {
        display: none;
    }

    body {
        display: flex;
        flex-wrap: wrap;
    }

    .header-img img {
        width: 890px;
        height: 385px;
    }

    h1 {
        display: flex;
        flex-grow: 1;
        justify-content: start;
    }

    .nav {
        display: flex;
        /*justify-content: center;*/
        /*align-content: center;*/
        /*align-items: center;*/
    }

    .nav-links {
        display: flex;
        flex-direction: row;
        /*justify-content: center;*/
        /*align-content: end;*/
        /*align-self: center;*/
        /*align-content: center;*/
    }

    /* returnreturn - .nav / .nav-links - why doesn't this center vertically? */


    #social-media-links {
        justify-content: space-between;
    }
}