:root {
    --white: #FFFFFF;
    --black: #000000;

    --skip-button: #ccffff; /* light blue */
    --skip-border: #c8cece; /* light gray */
    --link-bg-small: #cccccc; /* gray */

}

* {
    /*margin: 0;*/
    /*padding: 0;*/

    /*border: 1px solid var(--black);*/
}

body {
    box-sizing: border-box;
    margin: 15px;
}

.alert-info {
    background-color: var(--skip-button);
    font-size: .8rem;
    padding: 10px;
    border: 2px solid var(--skip-border);

    display: flex;
    justify-content: center;
}

.alert-info a {
    color: var(--black);
    text-decoration: none;
}

h1 {
    color: var(--black);
    font-size: 2rem;

    display: flex;
    justify-content: center;
}

nav {
    width: 100%;

    display: flex;
    justify-content: center;
}

.nav-links {
    min-width: 100%;
    padding: 10px;
    margin: 10px;
}

.nav-links li {
    background-color: var(--link-bg-small);
    font-size: .8rem;
    line-height: 40px;
    list-style: none;
    margin-bottom: 10px;

    display: flex;
    justify-content: center;
}

.header-img img {
    margin: auto;
    /*width: 339px;*/
    /*height: 224px;*/
    max-width: 100%;
    padding-bottom: 15px;
}

#social-media-links img {
    width: 20px;
    height: 20px;
}

p {
    margin-bottom: 25px;
}

/* align with left side of footer */
#social-media-links {
    padding-bottom: 5px;
}
/* compensate for img:nth-of-type(3) below */
#social-media-links img:nth-of-type(2) {
    margin-left: 4px;
}

/* this image is rectangular and is squished at 20x20 */
#social-media-links img:nth-of-type(3) {
    width: 30px;
}

footer {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#social-media-links {
    align-self: center;
}

/*!* small and up - large phones and tablets *!*/
/*@media only screen and (min-width: 600px) {*/

/*}*/

/* medium and up */
@media screen and (min-width: 768px) {

    .hidden-on-desktop {
        display: none;
    }

}