/* @import url('https://fonts.googleapis.com/'); */
/* https://fonts.google.com/ */

:root {
    --white: #FFFFFF;
    --black: #000000;

    --info-bg: #cddeff;
    --info-text: #5f5caf;
    --success-bg: #cff3da;
    --success-text: #05652e;
    --warn-bg: #fcfbc9;
    --warn-text: #968421;
    --error-bg: #fad3d7;
    --error-text: #a44c60;

    --border: #d3d3d3;
}

body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

.message {
    margin-left: auto;
    margin-right: auto;
    margin-top: .5em;
    padding: .5em;
    width: 95%;
    border: 2px solid var(--border);
    border-radius: 7px;
    font-weight: bold;
}

.message-info {
    background-color: var(--info-bg);
    color: var(--info-text);
}

.message-success {
    background-color: var(--success-bg);
    color: var(--success-text)
}

.message-warning {
    background-color: var(--warn-bg);
    color: var(--warn-text);
}

.message-error {
    background-color: var(--error-bg);
    color: var(--error-text);
}