/* @import url('https://fonts.googleapis.com/'); */
/* https://fonts.google.com/ */

:root {
    --white: #FFFFFF;
    --black: #000000;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 1px solid var(--black);
}

html {
    font-size: 16px;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.dev-container {
 border: solid 1px green;
}

.dev-row {
 border: solid 3px red;
}

.dev-column {
 border: dotted 3px blue;
}

.title-longtext {
text-align: center;
}

/* extra small and down - phones */
@media only screen and (max-width: 600px) {

}

/* small and up - large phones and tablets */
@media only screen and (min-width: 600px) {

}

/* medium and up */
@media only screen and (min-width: 768px) {

}

/* large and up */
@media only screen and (min-width: 992px) {

}