/* @import url('https://fonts.googleapis.com/'); */
/* https://fonts.google.com/ */

* {
    border: 1px solid black;
}

body {
    background-color: darkblue;
    color: aqua;
    border:
    margin: auto;
    text-align: center;
}

hr {
    width: 80%;
    background-color: lawngreen;
    border: none;
    height: 3px;
}

H2 {

}

img {
    border-radius: 50%;
    opacity: .4;
    height: 20%;
    width: 40%;
}

ul {
    list-style-image: url("../img/github-codeup_chevron_icon-10px_x_10px.png");
    ;
}

th {
    color: black;
    text-align: left;
    background-color: lawngreen;
}


.container {
    margin: 25px;
}

.Body1Lists {
    display: flex;
    justify-content: center;
}

table {
    display: flex;
    justify-content: center;
}

th td {
    display: flex;
    justify-content: left;
}

/*tr {*/
/*    display: flex;*/
/*    justify-content: left;*/
/*    padding-right: 2*/
/*}*/
