:root {
    --main-bg: #E6ECF0;
    --link-color: #3B94D9;
    --main-link-color: #848487;
    --light-bg: #FFF;
    --separator-color: #DDD;
}

* {
    box-sizing: border-box;
    /*border: solid 1px black;*/
}

body, html {
    background-color: var(--main-bg);
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

header {
    background-image: url("https://picsum.photos/1200/300");
    background-size: cover;
    min-height: 300px;
    padding-top: 275px;
}

a {
    color: var(--link-color);
}

.top-nav {
    background: var(--light-bg);
}

.nav {
    list-style-type: none;
    padding: 10px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    padding: 10px;
}

.nav-item:nth-of-type(5) {
    flex-grow: 1;
}

.profile-details {
    padding: 20px;

}


.nav-link {
    color: var(--main-link-color);
    font-weight: bold;
    text-decoration: none;
    justify-content: space-evenly;
}

.nav-link:hover {
    color: var(--link-color);
}

.profile {
    background: var(--light-bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 75px;
    padding: 10px
}

.btn {
    border: 1px solid var(--main-link-color);
    color: var(--main-link-color);
    background: var(--light-bg);
    font-weight: bold;
    padding: 8px;
    border-radius: 5px;
}

.btn-large {
    font-size: 1.3em;
    padding: 10px;
}

.img-circle {
    border-radius: 100%;
    border: 4px solid var(--light-bg);
}

.text-right {
    text-align: right;
}

.text-muted {
    color: var(--main-link-color);
}

.container {
    display: flex;
    justify-content: space-between;

}

.timeline, .who-to-follow {
    background-color: var(--light-bg);
}

.timeline img, .who-to-follow img {
    width: 50px;
    height: 50px;
}

li {
    list-style: none;
}
