@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

:root {
    --white: #FFFFFF;
    --black: #000000;

    /* default theme */
    --tealblue: #367588;
    --green: #C1F8CF;
    --dark-midnight-blue: #003366;

    /* neon blue theme */
    --neon-navy: #0E185F;
    --neon-light-blue: #2FA4FF;
    ---neon-green: #00FFDD;
    --neon-yellow: #E8FFC2;

    /* orangey and green theme */
    --oag-orange: #BB6464;
    --oag-light-brown: #CDB699;
    --oag-greenish: #C3DBD9;
    --oag-light-green: #C8F2EF;


    /*--purple: #533E85;*/
    /*--blue: #488FB1;*/
    /*--teal: #4FD3C4;*/


    /*--midnight-green: #004953;*/
    /*--royal-blue: #002366;*/

    /*--slate-blue: #6a5acd;*/
    /*--dark-slate-blue: #483d8b;*/
    /*--midnight-blue: #191970;*/
    /*--cello-gray: #3B4E65;*/

    /*--madison-gray: #2F3E51;*/


    /*--bg-snow-violet: #A5C5E9;*/
    /*--bg-snow-violet: #A5C5E9;*/
    /*--bg-snow-violet: #A5C5E9;*/
    /*--bg-snow-violet: #A5C5E9;*/
    /*--bg-snow-violet: #A5C5E9;*/
    /*--bg-snow-violet: #A5C5E9;*/
    /*--bg-snow-violet: #A5C5E9;*/
}


*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: Lato, sans-serif;
    font-size: 16px;
}

body {
    /*background-color: var(--tealblue);*/
    background-image: url("../img/weather_map-bg-body3.jpg");
    background-size: cover;
}

.container-main {
    background-image: url("../img/weather_map-bg-body3.jpg");
    background-size: cover;
    margin: .7rem .7rem;
}

.hidden {
    display: none;
}

h1, h3, h4, h5 {
    margin: .4rem 0;
    color: var(--white);
}

h1 {
    font-size: 2rem;
    text-align: center;
}

h2 {

}

h3 {
    font-size: 1.9rem;
    border-bottom: solid .2rem var(--tealblue);
    padding-bottom: .5rem;
}

h4 {
    font-size: 2.5rem;
    margin-top: .4rem;
}


h5 {
    font-size: 1.1rem;
}

h6 {
    font-size: 1.2rem;
    color: var(--black);
}


/* BEGIN NAV */

.nav-ul {
    display: flex;
    justify-content: end;
    align-items: center;

    background-color: var(--tealblue);
    margin-bottom: 1.2rem;
    border-radius: 1.3rem;
}

.nav-li {
    list-style: none;
    margin-right: 1.5rem;
    padding: .3rem;
    font-weight: bold;
}

.button-sml {
    margin-bottom: .5rem;
}
.nav-li a {
    text-decoration: none;
    color: black;
}

.nav-li-logo {
    margin-right: auto;
    margin-left: 1.5rem;

}

.nav-li-logo:hover {
    outline: .2rem solid var(--white); /* returnreturn - work on this */
}

.nav-li-link:hover, .nav-li-link.hover-effect {
    background-color: var(--green);
    border-radius: .6rem;

}

.nav-modal {
    position: absolute;
    right: 3rem;
    top: 4rem;
    z-index: 1;

    background-color: var(--tealblue);
    width: 20rem;
    height: 20rem;
    color: black;
    border: .3rem solid var(--black);
    opacity: .9;
}

.nav-modal-close {
    cursor: pointer;
    float: right;
    padding-right: 1rem;
    margin-top: .3rem;
}

.remove-user-location {
    float: right;
}

.userloc-rm {
    cursor: pointer;
}

/* END NAV */


/* BEGIN DAYS AND CARDS */
.container-days {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.container-cards {
    flex: 1 0 25%;
    width: 11rem;
    height: 15.5rem;
    perspective: 31.2rem;
    max-width: 25rem;
}

.container-cards:hover .card {
    transform: rotateY(180deg);
}

.card {
    text-align: center;
    width: 100%;
    height: 100%;
    margin-bottom: 1.25rem;

    transition: transform 1.5s;
    transform-style: preserve-3d;
}

.card-front,
.card-back {
    position: absolute;
    margin-bottom: 18.75rem;
    background-color: var(--dark-midnight-blue);
    border: solid 5.33px var(--tealblue);
    opacity: .7;
    border-radius: 25px;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.card-back {
    transform: rotateY(180deg);
}

.container-cards::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
    /*background-color: var(--tealblue);*/
    /* returnreturn - cannot hide the ::after background on mouseleave and retain explosion effect */
    /* using border only */
    opacity: .9;
    border: solid 3px var(--tealblue);
    border-radius: 25px;

}

.container-cards:hover::after {
    transform: scaleX(1.3) scaleY(1.3);
    opacity: 0;
}

.hover-bg {
    background-size: cover;
}

.hover-bg-clouds {
    background-image: url('../img/weather_map-bg-clouds.png');
    /*color: var(--violet);*/
}

.hover-bg-clear {
    background-image: url('../img/weather_map-bg-clear.png');
    /*color: var(--violet);*/
}

.hover-bg-warning {
    background-image: url('../img/weather_map-bg-warning.png');
    /*color: var(--violet);*/
}

.hover-bg-snow {
    background-image: url('../img/weather_map-bg-snow.png');
    /*color: var(--violet);*/
}

.hover-bg-rain {
    background-image: url('../img/weather_map-bg-rain.png');
    /*color: var(--violet);*/
}

.hover-bg-thunderstorm {
    background-image: url('../img/weather_map-bg-thunderstorm.png');
    /*color: var(--violet);*/
}

.hover-bg-kittens {
    background-image: url('../img/weather_map-bg-kittens.png');
    /*color: var(--violet);*/
}

/* END DAYS AND CARDS */

/* BEGIN MAP */
.days-map-spacer {
    display: inline-block; /* inline for text at #click-option */
    height: 15px;
    width: 15px;

}

#click-option {
    color: white;
    text-align: center;
    cursor: pointer;
}

.map-sm-screen-message {
    display: none;
}

.container-map {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#map {
    opacity: .6;
    border: solid 3px var(--tealblue);
    height: 450px;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 1.4rem;
}

/*.location-text {*/

/*position: absolute;*/
/*bottom: 8%;*/
/*right: 3%;*/
/*color: var(--white);*/
/*font-size: 1.5rem;*/
/*background: var(--teal);*/
/*border: 1px solid var(--white;*/
/*opacity: .2;*/
/*}*/

/* END MAP */


/* extra small and down - phones */


@media only screen and (max-width: 600px) {

    .container-main {
        margin: 5px;
    }

    .nav-modal {
        right: 5px;
        top: 58px;
    }

    .container-cards {
        max-width: 325px;
        /*flex-basis: min-content;*/
    }

    .card-sml-hidden {
        display: none;
    }

    .days-map-spacer {
        /*display: none;*/
    }

    .map-sm-screen-message {
        /*display: inline-block;*/
        /*text-align: center;*/
        /*font-size: 1rem;*/
        /*color: var(--green);*/
        /*height: 10px;*/
        /*width: 100px;*/
    }
}

/* small and up - large phones and tablets */
@media only screen and (min-width: 600px) {

    .container-cards {

        background-color: transparent;
        width: 175px;
        height: 250px;
        perspective: 500px;
        margin: 5px;
    }

    #map {
        width: 100%
    }
}

/* medium and up */
@media only screen and (min-width: 768px) {

    #map {
        width: 90%;
    }
}

/* large and up */
@media only screen and (min-width: 992px) {

}