@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

:root {
    --white: #FFFFFF;
    --black: #000000;

    --green-dark: #062C30;
    --green-medium: #05595B;
    --yellowish: #E2D784;
    --whitish: #F5F5F5;
}

/* BEGIN GLOBAL DEFAULTS */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: Lato;
    font-size: 16px;
}

/* END GLOBAL DEFAULTS */

body {
    background-color: var(--green-medium);
}

.container-main {

}
.container-days {
    display: flex;
    justify-content: space-evenly;

    text-align: center;
}

.day {
    background-color: var(--yellowish);
    border: 3px solid var(--green-dark);
    color: var(--green-dark);
    width: 145px;
}

.daily {

}

.daily > img {
    height: 65px;

}

.daily-normal {
    font-size: 1.3rem;
    margin-bottom: 10px;
}

.daily-large {
    font-size: 1.6rem;
}




/* extra small and down - phones */
@media only screen and (max-width: 600px) {

}

/* small and up - large phones and tablets */
@media only screen and (min-width: 600px) {

}

/* medium and up */
@media only screen and (min-width: 768px) {

}

/* large and up */
@media only screen and (min-width: 992px) {

}