@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

:root {
    --white: #FFFFFF;
    --black: #000000;

    --purple: #533E85;
    --blue: #488FB1;
    --teal: #4FD3C4;
    --green: #C1F8CF;

    --bg-snow-violet: #A5C5E9;
    /*--bg-snow-violet: #A5C5E9;*/
    /*--bg-snow-violet: #A5C5E9;*/
    /*--bg-snow-violet: #A5C5E9;*/
    /*--bg-snow-violet: #A5C5E9;*/
    /*--bg-snow-violet: #A5C5E9;*/
    /*--bg-snow-violet: #A5C5E9;*/
}

/* BEGIN GLOBAL */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: Lato, sans-serif;
    font-size: 16px;
}

/* END GLOBAL */

body {
    background-color: var(--blue);
}

.container-main {
    margin: 20px 40px;
}

.hidden {
    display: none;
}

h1, h3, h4, h5 {
    margin: 5px 0;
    color: var(--purple);
}

h1 {
    font-size: 2rem;
    text-align: center;
}

h2 {

}

h3 {
    font-size: 1.6rem;
    border-bottom: solid 2px var(--purple);
}

h4 {
    font-size: 1.6rem;
    margin-top: 10px;
}


h5 {
    font-size: 1.1rem;
}

h6 {

}

img {
    margin-top: 7px;
}

/* BEGIN DAYS AND CARDS */
.container-days {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.container-cards {
    width: 175px;
    height: 250px;
    perspective: 500px;
}

.container-cards:hover .card {
    transform: rotateY(180deg);
}

.card {
    text-align: center;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;

    transition: transform 1.5s;
    transform-style: preserve-3d;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.5);
}

.card-front,
.card-back {
    position: absolute;
    margin-bottom: 300px;
    background-color: var(--teal);
    border: 3px solid var(--purple);
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.card-back {
    transform: rotateY(180deg);
}

.hover-bg {
    background-size: cover;
}

.hover-bg-clouds {
    background-image: url('../img/weather_map-bg-clouds.png');
    /*color: var(--violet);*/
}

.hover-bg-clear {
    background-image: url('../img/weather_map-bg-clear.png');
    /*color: var(--violet);*/
}

.hover-bg-warning {
    background-image: url('../img/weather_map-bg-warning.png');
    /*color: var(--violet);*/
}

.hover-bg-snow {
    background-image: url('../img/weather_map-bg-snow.png');
    color: var(--violet);
}

.hover-bg-rain {
    background-image: url('../img/weather_map-bg-rain.png');
    /*color: var(--violet);*/
}

.hover-bg-thunderstorm {
    background-image: url('../img/weather_map-bg-thunderstorm.png');
    /*color: var(--violet);*/
}

.hover-bg-kittens {
    background-image: url('../img/weather_map-bg-kittens.png');
    /*color: var(--violet);*/
}

/* END DAYS AND CARDS */

/* BEGIN MAP */
.days-map-spacer {
    margin: 5px 0;
}

.map-sm-screen-message {
    display: none;
}

.container-map {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#map {
    display: flex;
    justify-content: center;

    height: 450px;
    width: 90%;
}

.location-text {
    /*position: absolute;*/
    /*bottom: 8%;*/
    /*right: 3%;*/
    /*color: var(--purple);*/
    /*font-size: 1.5rem;*/
    /*background: var(--teal);*/
    /*border: 3px solid var(--purple);*/
    /*opacity: .2;*/
}

/* END MAP */


/* extra small and down - phones */
@media only screen and (max-width: 600px) {

    .container-main {
        margin: 5px;
    }

    .container-cards {
        width: 190px;
    }

    .card {
        height: 95%;
    }

    .days-map-spacer {
        display: none;
    }

    .map-sm-screen-message {
        display: inline-block;
        text-align: center;
    }
}

/* small and up - large phones and tablets */
@media only screen and (min-width: 600px) {

    .container-cards {
        background-color: transparent;
        width: 175px;
        height: 250px;
        perspective: 500px;
        margin: 5px;
    }

    #map {
        width: 100%
    }
}

/* medium and up */
@media only screen and (min-width: 768px) {

    #map {
        width: 90%;
    }
}

/* large and up */
@media only screen and (min-width: 992px) {

}