@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

:root {
    --white: #FFFFFF;
    --black: #000000;

    --purple: #533E85;
    --blue: #488FB1;
    --teal: #4FD3C4;
    --green: #C1F8CF;
}

/* BEGIN GLOBAL DEFAULTS */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: Lato;
    font-size: 16px;
}

/* END GLOBAL DEFAULTS */

body {
    background-color: var(--blue);
}

.container-main {
    /*width: 90%;*/
    /*display: flex;*/
    /*justify-content: center;*/
    width: 100%;
}

/* DAYS AND CARDS */
.container-days {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    text-align: center;
}

.container-cards {
    background-color: transparent;
    width: 175px;
    height: 250px;
    perspective: 500px;
}

.card {
    /*display: flex;*/
    /*align-items: first;*/
    /*position: relative;*/
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.7s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.card-back {
    background-color: var(--teal);
    transform: rotateY(180deg);
    border: 3px solid var(--purple);
    color: var(--purple);
}

.container-cards:hover .card {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.card-front {
    background-color: var(--teal);
    border: 3px solid var(--purple);
    color: var(--purple);
}

.card-content-small,
.card-content-medium,
.card-content-large {
    margin-bottom: 10px;
}

.card-content-small {
    font-size: 1rem;
}

.card-content-normal {
    font-size: 1.3rem;
    margin-top: 5px;
}

.card-content-large {
    font-size: 1.6rem;
    margin-top: 5px;
}

.card-content-date {
    border-bottom: 3px solid var(--purple);
    opacity: .7;
}

.card-content-temp {
    margin-top: 15px;
}

.container-map {
    display: flex;
    justify-content: center;

    margin-top: 20px;
}

.container-map {
    /*display: flex;*/
    /*justify-content: center;*/
    /*postion: relative;*/
    /*margin-top: 20px;*/

    text-align: center;
    color: white;
    width: 100%;

}

#map {
    border: 3px solid var(--purple);
    height: 500px;
    width: 100%;
    /*width: auto;*/
}

.location-text {
    position: absolute;
    bottom: 8%;
    right: 3%;
    color: var(--purple);
    font-size: 1.5rem;
    background: var(--teal);
    border: 3px solid var(--purple);
    opacity: .2;
}


/* */


/* */

/* extra small and down - phones */
@media only screen and (max-width: 600px) {
    .container-days {
        display: flex;
        flex-wrap: wrap;
        /*width: 80%;*/

    }

    .container-cards {
        margin: 5px;
        /*width: 60%;*/
    }
}

/* small and up - large phones and tablets */
@media only screen and (min-width: 600px) {
    .container-days {
        display: flex;
        flex-wrap: wrap;
    }

    .container-cards {
        background-color: transparent;
        width: 175px;
        height: 250px;
        perspective: 500px;
        margin: 5px;
    }
}

/* medium and up */
@media only screen and (min-width: 768px) {

}

/* large and up */
@media only screen and (min-width: 992px) {

}