:root {
    --white: #FFFFFF;
    --black: #000000;

    --bluegray: #1C658C;
    --lightbluegray: #398AB9;
    --beigeish: #D8D2CB;
    --whiteish: #EEEEEE;
}

body {
    background-color: var(--beigeish);
}

h3 {
    color: black;
    font-weight: bolder;
    font-size: larger;
}

hr {
    background-color: var(--bluegray);
}

input {
    background-color: var(--lightbluegray);
    border: none;
    margin: 10px;
    height: 30px;
    border-radius: 5px;
}

button {
    background-color: var(--lightbluegray);
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    height: 30px;
}

button:hover {
    background-color: var(--bluegray);
    color: var(--whiteish);
    transition: .5s;
}

textarea {
    background-color: var(--lightbluegray);
    border-radius: 5px;
    margin-bottom: 5px;
    border: none;
}

textarea, .textarea-button {
    /*border: solid 1px var(--black);*/
}

select {
    background-color: var(--lightbluegray);
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    height: 30px;
}

/* STYLING OPTION IS LIMITED */
/*option {*/
/*    background-color: var(--black);*/
/*    color: black;*/
/*}*/
