/* @import url('https://fonts.googleapis.com/'); */
/* https://fonts.google.com/ */

:root {
    --white: #FFFFFF;
    --black: #000000;
    
}

/* REMOVEME: */
* {
    border: 1px solid var(--black);
}


/* extra small and down - phones */
@media only screen and (max-width: 600px) {

}

/* small and up - large phones and tablets */
@media only screen and (min-width: 600px) {

}

/* medium and up */
@media only screen and (min-width: 768px) {

}

/* large and up */
@media only screen and (min-width: 992px) {

}